{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
    <h1>Hi, Welcome to </h1>
    <p>Welcome to SoFa, a forward-thinking furniture company founded in 2022 and headquartered in New York City. Our mission is to innovate comfort and redefine living spaces through exceptional design and sustainability. At SoFa, we offer a diverse range of high-quality products, including modular sofas, ergonomic chairs, stylish tables, versatile storage solutions, and chic accessories, all customizable to fit any aesthetic. We pride ourselves on using eco-friendly materials and energy-efficient manufacturing processes, ensuring that our furniture is not only beautiful and comfortable but also environmentally responsible. </p>
    <p>Our market strategy targets young professionals, families, and urban dwellers, with distribution through our e-commerce platform, flagship stores, and partnerships with home decor retailers. We reach our audience via social media, online advertising, and influencer collaborations, and we reward our customers with seasonal sales and loyalty programs. Customer satisfaction is our priority, with 24/7 support, a 30-day return policy, a 5-year warranty, and free delivery and assembly. Looking ahead, SoFa aims to expand globally, introduce outdoor and smart furniture, and achieve carbon neutrality by 2030. Join us in creating spaces that inspire and comfort, with SoFa at the heart of your home.</p>
</div>
{% endblock content %}