{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
    <div class="home">
        <div class="homeText">
            <h1>Hi, Welcome to </h1>
            <p>Welcome to SoFa, where we bring comfort and style to your home. Founded in 2020, SoFa is a premier furniture company dedicated to designing and manufacturing high-quality, innovative, and sustainable furniture solutions.</p>
            <h3>Mission</h3>
            <p>At SoFa, our mission is to enhance the quality of life by creating comfortable, stylish, and affordable furniture that fits every lifestyle. We are committed to sustainability, exceptional customer service, and fostering creativity in all our designs.</p>
        </div>
    </div>
</div>
{% endblock content %}