h1{
    color: rgb(214, 0, 0);
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(73, 73, 73);
}
p{
    color: rgb(73, 73, 73);
}
label{
    width: 50%;
    background-color: rgb(150, 150, 150);
}
input{
    width: 50%;
}
.FlexRow{
    display: flex;
    flex-direction: row;
}
.NewNavbar{
    background-color: rgb(77, 77, 77);
}
.BlackB{
    background-color: rgb(136, 136, 136)
}
.cardu{
    margin-top: .5rem;
    margin-bottom: 1rem;
}