*{
    h1{
        color: rgb(214, 0, 0);
    }
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    p{
        color: white;
    }
}
label{
    width: 50%;
    background-color: antiquewhite;
}
input{
    width: 50%;
}
.FlexRow{
    display: flex;
    flex-direction: row;
}
.NewNavbar{
    background-color: rgb(77, 77, 77);
}
.BlackB{
    background-color: rgb(136, 136, 136)
}
/*Home*/
